/* Imported Link Start Here  */

/* Imported Link END Here  */

:root {
  --main-color: #ff4800;
  --white: #fff;
  --blue-font-color: #03324d;
  --btn-primary-color: var(--main-color);
  --btn-hover-color: var(--blue-font-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ******************************** */
/* ToP NAVIGATION PANEL  START*/
.top-header {
  background-color: var(--main-color);
}

.top-header-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.topnav-email-box {
  color: #fff;
  font-size: 1.4rem;
}
.email-address {
  font-size: 1.4rem;
  color: var(--white);
  margin-left: 1rem;
}

.top-menu-btn-box {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.5rem;
}

.top-menu-btn-box a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--main-color);
  display: block;
  background-color: var(--white);
  padding: 1.4rem 2rem;
  border-radius: 0.4rem;
  transition: all 0.3s 1px solid var(--white);
}

/* ToP NAVIGATION PANEL END  */
/* ***************************************** */

/* ***************************************** */
/* MAIN NAVIGATION PANEL START  */

.main-header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 10%);
  background-color: #f8f8f8;
}
.main-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-logo {
  letter-spacing: -0.25;
}

.sub-menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-list {
  display: flex;
}
.menu-list li {
  list-style: none;
  display: inline-block;
  padding-left: 3rem;
  align-items: center;
}

.menu-list li a {
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #2f2b2b;
  padding: 4.5rem 0;
  transition: all 0.3s ease 0s;
}

.menu-list li a:hover {
  color: var(--main-color);
}

.menu-list-span {
  margin-left: 0.5rem;
  font-size: 1.7rem;
}

.fi-rr-search {
  font-size: 2rem;
  padding-left: 3rem;
}

.fi-rr-menu-burger {
  font-size: 2.2rem;
  padding-left: 0.5rem;
}

/* MAIN NAVIGATION PANEL END  */
/* ***************************************** */

/* ***************************************** */
/* SLIDER PANEL START  */

.slider-section {
  background: url("../images/sliderone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-text-box {
  padding: 21rem 0;
}

.main-title-slider {
  color: var(--white);
  margin-bottom: 3rem;
}

.slider-description {
  font-size: 2rem;
  color: var(--white);
  line-height: 3.6rem;
  margin-bottom: 4rem;
}

.btn-slider {
  display: inline-block;
  background-color: var(--btn-primary-color);
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 500;
  border-radius: 0.5rem;
  transition: all 0.3s ease 0s;
}

.btn-slider:hover {
  background-color: var(--blue-font-color);
}

.btn-slider a {
  text-decoration: none;
  display: inline-block;
  color: var(--white);
  text-transform: uppercase;
  padding: 1.4rem 4rem;
}

/* SLIDER PANEL END  */
/* ***************************************** */

/* ***************************************** */
/* AWARD NAVIGATION PANEL START  */

.section-award {
  background-color: #f8f8f8;
}
.award-box {
  padding-top: 10rem;
  padding-bottom: 11rem;
}

.award-left-title {
  position: relative;
  padding-left: 6.5rem;
}

.award-left-title::after {
  position: absolute;
  content: "";
  background: #ff4800;
  height: 2px;
  width: 50px;
  left: 0;
  top: 15px;
}

.award-left-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.6rem;
  margin-bottom: 1.5rem;
  color: var(--main-color);
}

.award-right-content {
  display: grid;
  align-items: center;
}

.award-right-description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #3e3e3e;
  border-left: 3px solid var(--main-color);
  padding-left: 3rem;
}

/* ***************************************** */
/* ON TIME DELIVERY  PANEL START  */

.before-about-section {
  position: relative;
  padding-bottom: 15rem;
  background: url("../images/abs-bg1.png");
  background-size: cover;
}

.about-grid {
  margin-bottom: 11rem;
  position: relative;
}
.ontime-delivery {
  text-align: center;
  padding: 2rem;
  background-color: var(--main-color);
  border-radius: 0.8rem;
  position: relative;
  box-shadow: 0px 14px 30px rgb(0 0 0 / 7%);
  transition: all 300ms ease-out 0s;
  overflow: hidden;
  margin-top: 11rem;
}

.ontime-delivery:hover {
  transform: translateY(-5px);
  position: relative;
}

.ontime-delivery:hover .fi-rr-truck-side {
  position: relative;
  z-index: 2;
}

.ontime-delivery:hover .fi-rr-globe {
  position: relative;
  z-index: 2;
}

.ontime-delivery:hover .on-time-title {
  position: relative;
  z-index: 2;
}

.ontime-delivery:hover .on-time-description {
  position: relative;
  z-index: 2;
}

.ontime-delivery::before {
  content: "";
  background: rgba(24, 49, 95, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 300ms ease-out 0s;
  z-index: 1;
  opacity: 0;
}

.ontime-delivery::after {
  content: "";
  position: absolute;
  background: url("../images/sliderone.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 300ms ease-out 0s;
}

.ontime-delivery:hover::before,
.ontime-delivery:hover::after {
  opacity: 1;
  transform: scale(1.2);
}

.on-time-title {
  margin-bottom: 1.2rem;
  color: white;
}

.fi-rr-truck-side,
.fi-rr-globe {
  font-size: 8rem;
  color: var(--white);
}

.ontime-delivery-image {
  position: absolute;
  left: 63rem;
  top: -7.5rem;
  width: 45%;
}

.about-our-left-content {
  position: relative;
}

.about-our-company-left-image {
  margin-left: 10rem;
}

.ab2-img {
  position: absolute;
  left: -1rem;
  top: 6rem;
  height: 50rem;
  width: 31rem;
  border: 8px solid #f5f5f5;
}

.experience-years {
  position: absolute;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
  max-width: 33.5rem;
  right: 2rem;
  bottom: -4rem;
  z-index: 1;
  background-color: #fff;
  border-right: 3px solid var(--main-color);
}

.experience-years-title {
  font-size: 7.2rem;
  font-weight: 700;
  color: var(--blue-font-color);
}

.experienxe-padding-box {
  padding: 3rem 0;
  padding: 3rem 4.5rem;
}

.experience-years-description {
  font-size: 2.2rem;
  font-weight: 400;
  color: #3e3e3e;
}

.about-our-company {
  padding: 3rem 0;
}

.about-our-right-content {
  margin-bottom: 4rem;
  margin-left: 8rem;
}

.list-about {
  font-size: 1.6rem;
  list-style: none;
  padding-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  color: #b3b3b3;
}

.inner-list {
  display: flex;
  align-items: center;
}

.inner-list img {
  height: 1.6rem;
  width: 1.6rem;
}

.list-about-item {
  align-items: center;
  padding: 1.2rem 12rem;
}

.about-right-description {
  padding: 0 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.btn-read-more {
  position: relative;
  margin-left: 2rem;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.5rem 3.6rem;
  line-height: 26px;
  letter-spacing: 1px;
  transition: all 400ms ease-out 0s;
}

.btn-read-more::before {
  position: absolute;
  content: "";
  width: 5%;
  height: 100%;
  background: rgba(3, 50, 77, 0.2);
  left: 0;
  top: 0;
  transition: all 400ms ease-out 0s;
  z-index: 1;
}

.btn-read-more:hover .read-more {
  position: relative;
  z-index: 1;
}

.btn-read-more:hover::before {
  background-color: #03324d;
  width: 100%;
}

.btn-signeture-box {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.sign {
  height: 4.7rem;
}

/* ON TIME DELIVERY  PANEL END  */
/* ***************************************** */

/* ***************************************** */
/* SERVICE WE OFFER  PANEL START  */
.section-service-we-offer {
  background-color: #ff4800;
  display: flex;
  justify-content: right;
}

.content-box-service {
  padding: 11rem 0 18rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-service-content {
  display: block;
  text-align: right;
  max-width: 36rem;
}

.service-sm-title {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
}

.service-lg-title {
  font-size: 4.2rem;
  color: #fff;
  font-weight: 800;
  line-height: 54px;
}

.right-service-content {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28.8px;
}

.right-service-description {
  text-align: left;
  max-width: 55rem;
  margin-right: 11.2rem;
  color: #fff;
}

.hr-space-service {
  height: 8rem;
  width: 1rem;
  background-color: #fff;
  border-radius: 50px;
  margin: 0 6rem;
  opacity: 0.3;
}

/* SERVICE WE OFFER  PANEL END  */
/* ***************************************** */

/* ***************************************** */
/* CARD_SERVICE  PANEL START  */

.card-service-section {
  height: 100vh;
}

.section-postion-add {
  position: relative;
  padding-bottom: 20rem;
}
.section-content-area {
  position: absolute;
  top: -60%;
  left: 5%;
  right: 5%;
}
.card-container {
  gap: 3rem;
}

.card-box {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
  overflow: hidden;
}

.card-content {
  padding: 3rem 2.5rem;
}
.card-title {
  font-size: 4.3rem;
  font-weight: 700;
  color: #03324d;
}

.card-description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  color: #3e3e3e;
  margin-bottom: 3rem;
}

.card-link-read-more {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ff4800;
  line-height: 26px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}



.card-link-read-more::after {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 0;
  height: 2px;
  background-color: #ff4800;
  transition: all 400ms ease-out 0s;
}

.card-box:hover .card-link-read-more::after {
  width: 25px;
}

.card-box:hover .card-link-read-more{
  padding-left: 3.5rem;
}

.card-thumb {
  position: relative;
}

.card-thumb img {
  width: 100%;
}

.card-box .card-thumb::before {
  position: absolute;
  content: "";
  background: #03324d;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
}

.card-box .card-thumb::after {
  position: absolute;
  content: "";
  background: #03324d;
  left: 0;
  top: 0;
  height: 0%;
  width: 100%;
  opacity: 0.1;
  transition: all 400ms ease-out 0s;
  z-index: 1;
}

.card-box:hover .card-thumb::after {
  height: 98%;
  opacity: 0.5;
}

.card-image-box-main {
  position: relative;
}

.service-icon-box {
  position: absolute;
  right: 2rem;
  z-index: 2;
  bottom: -1.6rem;
  transition: all 400ms ease-out 0s;
}

.card-box:hover .service-icon-box {
  transform: translateY(20px);
}

.card-box:hover .service-icon-box i {
  transform: rotateY(360deg);
}

.service-icon-box i {
  font-size: 3.6rem;
  padding: 1.2rem 2.6rem;
  display: inline-block;
  background-color: #ff4800;
  color: #fff;
  border-radius: 5px;
  transition: 0.6s linear;
}

.card-content::before {
  position: absolute;
  content: url("../images/globe.png");
  height: 4rem;
  right: 0rem;
  bottom: 0rem;
  color: #ff4800;
  opacity: 0.06;
  transition: all 400ms ease-out 0s;
}

.card-box:hover .card-content::before {
  transform: scale(1.3) rotate(180deg);
}

.just-click {
  display: block;
  text-align: center;
  padding: 7rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 24px;
  color: #03324d;
}

.just-click a {
  color: #ff4800;
}
/* CARD_SERVICE  PANEL END  */
/* ***************************************** */

/* ***************************************** */
/* QOUTE SERVICE  PANEL START  */

.section-qoute {
  position: relative;
  margin-top: 4rem;
  height: 90vh;
  background-color: #03324d;
  background: url("../images/sliderone.jpg");
  max-width: 100%;
}

.section-qoute::before {
  content: url("../images/person1.png");
  position: absolute;
  position: absolute;
  right: 1rem;
  height: 100px;
  animation: animation-up-down 4s ease-in-out infinite;
}

.qoute-left-content {
  position: relative;
}

.form-box {
  position: absolute;
  background-color: #fff;
  padding: 4.5rem 5rem 5rem 5rem;
  box-shadow: -5px -1px 15px 10px rgb(38 37 37 / 10%);
  border-radius: 8px;
  top: -12rem;
}

.form-title {
  position: relative;
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 54px;
  color: #03324d;
}

.form-title::before {
  content: "";
  position: absolute;
  height: 5.6rem;
  width: 1rem;
  background-color: #ff4800;
  top: 0;
  left: -5rem;
}

.qoute-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 0;
}

.form-control {
  border: 1px solid #dfdce6;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  padding: 1.25rem 1rem;
  min-width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}

#form-selection {
  height: 7rem;
}
#form-selection:focus {
  border: 1px solid #dfdce6;
  height: 7rem;
}

.form-control:focus {
  border-color: #e41f7a;
}

.form-btn {
  display: inline-block;
  background-color: #ff4800;
  border: none;
  padding: 1rem 2.7rem;
  font-size: 1.4rem;
  line-height: 26px;
  font-weight: 500;
  border-radius: 5px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.form-btn:hover {
  background-color: #03324d;
}

.quad-box {
  text-align: center;
  gap: 3rem;
  padding-top: 15rem;
  justify-content: center;
  margin: 0 2rem;
}
.qoute-service-box {
  background-color: #f3f1f2;
  border-radius: 8px;
  padding: 4rem;
  cursor: pointer;
  position: relative;
  transition: all 400ms ease-out 0s;
  overflow: hidden;
  z-index: 1;
}

.qoute-service-box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
  background-color: #ff4800;
  width: 0%;
  transition: all 400ms ease-out 0s;
}

.qoute-service-box:hover::after {
  width: 100%;
}

.qoute-service-box::before {
  content: url("../images/delivery.png");
  position: absolute;
  bottom: -20%;
  right: 30%;
  opacity: 0.2;
  z-index: -1;
  transition: all 400ms ease-out 0s;
}

.qoute-service-box:hover::before {
  transform: scale(1.3);
}

.qoute-service-box-globe::before {
  content: url("../images/globe-new.png");
  position: absolute;
  bottom: -20%;
  right: 30%;
  opacity: 0.2;
  z-index: -1;
  transition: all 400ms ease-out 0s;
}

.qoute-service-box-globe:hover:before {
  transform: scale(1.3);
}

.qoute-service-box-building::before {
  content: url("../images/building.png");
  position: absolute;
  bottom: -20%;
  right: 30%;
  opacity: 0.2;
  z-index: -1;
  transition: all 400ms ease-out 0s;
}

.qoute-service-box-building:hover:before {
  transform: scale(1.3);
}

.qoute-service-box-clients::before {
  content: url("../images/support.png");
  position: absolute;
  bottom: -20%;
  right: 30%;
  opacity: 0.2;
  z-index: -1;
  transition: all 400ms ease-out 0s;
}

.qoute-service-box-clients:hover:before {
  transform: scale(1.3);
}

.qoute-service-box-title {
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 54px;
  color: #ff4800;
}

.qoute-service-box-sub-title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 24px;
  color: #747b87;
}
/*********************************/
/*********************************/
/* Animation Musk Delivery boy */

@keyframes animation-up-down {
  0% {
    top: -17rem;
  }
  50% {
    top: -20rem;
  }
  100% {
    top: -17rem;
  }
}
/* Animation Musk Delivery boy */
/*********************************/
/*********************************/

/* QOUTE SERVICE  PANEL END  */
/* ***************************************** */

/* ***************************************** */
/* TEAM MEMBER  PANEL START  */

.section-team-member-main {
  padding: 10rem 0;
  background: url("../images/abs-bg2.png");
}
.content-box-member {
  padding: 3rem 0 8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-team-member {
  display: flex;
  justify-content: right;
}

.left-member-content {
  display: block;
  text-align: right;
  max-width: 36rem;
}

.member-sm-title {
  font-size: 1.6rem;
  color: #ff4800;
  font-weight: 600;
}

.member-lg-title {
  font-size: 4.2rem;
  color: #03324d;
  font-weight: 800;
  line-height: 54px;
}

.right-member-content {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28.8px;
}

.right-member-description {
  text-align: left;
  max-width: 55rem;
  margin-right: 11.2rem;
  color: #3e3e3e;
}

.hr-space-member {
  height: 8rem;
  width: 1rem;
  background-color: #ff4800;
  border-radius: 50px;
  margin: 0 6rem;
}

.team-member-card {
  gap: 3rem;
}

.team-member-card-box {
  text-align: center;
  background-color: #f8f8f8;
  position: relative;
}

.team-member-card-box::before {
  content: "";
  height: 3px;
  background-color: #ff4800;
  bottom: 0;
  width: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: 600ms;
}

.team-member-card-box::after {
  content: "";
  height: 3px;
  background-color: #ff4800;
  bottom: 0;
  width: 40%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: 400ms;
}

.team-member-card-box:hover:after {
  width: 25%;
}
.team-member-card-box:hover:before {
  width: 100%;
}

.team-member-image-box {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.team-member-image-box .social-list {
  position: absolute;
  list-style: none;
  width: 0;
  left: 0%;
  right: 60%;
  margin: 0 auto;
  display: flex;
  z-index: 1;
  bottom: 3.7rem;
  transition: 600ms;
  transform: scaleY(0);
}

.team-member-card-box:hover .team-member-image-box .social-list {
  transform: scaleY(1);
  bottom: 3rem;
}

.team-member-image-box .social-list li {
  float: none;
  margin-right: 1rem;
}

.social-list a {
  text-decoration: none;
  font-size: 2rem;
  background-color: #f3f1f2;
  color: #03324d;
  padding: 0.8rem 1.3rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.3s ease-out;
}

.social-list a:hover {
  background-color: #ff4800;
  color: #fff;
}

.team-member-image {
  width: 100%;
  height: 100%;
}

.team-member-image-box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #03324d;
  opacity: 0.7;
  z-index: 0;
  transition: 500ms;
  transform: scaleX(0);
}

.team-member-card-box:hover .team-member-image-box::after {
  transform: scaleY(1);
}

.team-member-name {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px;
  color: #03324d;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.team-member-content {
  padding: 2.5rem 0;
}

.team-member-name:hover {
  color: #ff4800;
}

.team-member-designation {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 26px;
  color: #858585;
  padding: 0.5rem;
}

.clients-logo-banner {
  display: flex;
  gap: 3rem;
}

.clients-logo-banner img {
  width: 100%;
}
/* TEAM MEMBER  PANEL END  */
/* ***************************************** */

/* ***************************************** */
/* NEWS & UPDATES   Section START here  */

.section-update-main {
  background: url("../images/abs-bg3.png");
  background-color: #03324d;
}

.update-top-content-box {
  padding: 7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-title {
  color: var(--main-color);
}
.update-title-2 {
  color: #fff;
}

.update-right-content {
  display: flex;
  gap: 1rem;
  margin-right: 18rem;
  margin-top: 7rem;
}

.round-box-arrow {
  height: 6.5rem;
  width: 6.5rem;
  color: #fff;
  font-size: 1.6rem;
  background-color: #ff4800;
  transition: all 0.4s ease-out;
  border-radius: 50%;
  line-height: 6.5rem;
  text-align: center;
}

.round-box-arrow:hover {
  color: #ff4800;
  background-color: #fff;
}

.update-card {
  gap: 0.5rem;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.update-card-box .update-card-box-item {
  position: relative;
  overflow: hidden;
}

.update-card-box-item img {
  width: 100%;
  transition: all 900ms ease;
  transform: scale(1.01);
}

.update-card-box:hover .update-card-box-item img {
  transform: scale(1.2) rotate(3deg);
}
.update-card-box-icon a {
  position: absolute;
  top: 0;
  right: 0;
  width: 6.4rem;
  height: 6.4rem;
  text-align: center;
  background-color: #ff4800;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  line-height: 70px;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-out 0s;
  z-index: 5;
}
.update-card-box:hover .update-card-box-icon a {
  visibility: visible;
  opacity: 1;
  top: 5%;
  right: 5%;
  transform: rotateY(180deg);
}

.update-card-box-category {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
}

.update-card-box-Title {
  font-size: 4.3rem;
  font-weight: 700;
  line-height: 53px;
  color: #fff;
}

.update-card-box-details {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  transition: all 500ms ease-out;
  transform-origin: bottom;
  z-index: 2;
  opacity: 0;
}

.update-card-box:hover .update-card-box-details {
  opacity: 1;
  bottom: 2.5rem;
  left: 3rem;
  transform: perspective(0) rotateX(0);
}

.update-card-box-item::after {
  content: "";
  position: absolute;
  background: rgba(3, 50, 77, 0.9);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 500ms ease-out 0s;
  transform: scale(0);
}
.update-card-box:hover .update-card-box-item::after {
  opacity: 1;
  transform: scale(0.95);
}

/* NEWS & UPDATES   Section START here  */
/* ***************************************** */

/* ***************************************** */
/* TESTIMONIAL Section START here  */

.section-testimonial {
  background: url("../images/2.png");
  padding-bottom: 10rem;
}
.testimonial-header {
  padding: 7.5rem 0;
  text-align: center;
}

.testimonial-title-sm {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 24px;
  color: #ff4800;
  padding: 3rem;
}

.testimonial-title-lg {
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 54px;
  color: #03324d;
}

.testimonial-container {
  display: flex;
  gap: 3rem;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 1.2rem;
  text-align: center;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
}

.testimonial-card::before {
  content: "";
  background-color: #ff4800;
  position: absolute;
  height: 7rem;
  width: 7rem;
  right: 0;
  top: 0;
  z-index: 1;
}

.testimonial-card::after {
  content: url("../images/quote.png");
  position: absolute;
  right: 1.5rem;
  top: 1.6rem;
  z-index: 2;
}

.testimonial-image {
  border: 3px solid #c1cad5;
  border-radius: 50%;
  margin: 3.5rem 0;
}

.testimonial-name {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px;
  color: #03324d;
}

.testimonial-designation {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  color: #a6a4a4;
}

.rating-star {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.rating-star li i {
  color: #ff4800;
  font-size: 2rem;
  margin-left: 0.5rem;
}

.testimonial-description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  color: #3e3e3e;
  padding: 0 6rem;
  margin-bottom: 3rem;
}

/* TESTIMONIAL Section END here  */
/* ***************************************** */

/* ***************************************** */
/* CHOOSE US Section START here  */

.choose-us-section {
  background-image: url("../images/3\ \(1\).jpg");
  background-color: #03324d;
  background-position: center center;
}

.choose-content-box {
  position: relative;
  gap: 8rem;
  padding: 10rem 0;
}

.choose-content-box::before {
  content: "";
  background: #131c34;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.choose-img-left {
  height: auto;
  max-width: 100%;
  animation: leftRifgtInfinite 5s infinite;
}

.choose-right-content {
  margin: 2rem 5rem;
  max-width: 35rem;
  z-index: 2;
}

.choose-title-sm {
  color: #fff;
}

.choose-right-description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28.8px;
  color: #fff;
  padding: 5rem 0;
}

.choose-video-btn {
  height: 10rem;
  width: 10rem;
  background-color: #fff;
  border-radius: 50%;
  font-size: 2.4rem;
  text-align: center;
  line-height: 10rem;
}

.choose-video-btn a i {
  color: #ff4800;
}

/* Animation left-right */

@keyframes leftRifgtInfinite {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
/* Animation left-right */

/* CHOOSE US Section END here  */
/* ***************************************** */

/* ***************************************** */
/* ALLNEWS Section START here  */

.all-news-section {
  padding: 5rem 0;
}
.all-news-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.5rem 0;
}

.all-news-top-btn {
  border: none;
  background-color: #ff4800;
  color: #fff;
  padding: 1.6rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.all-news-top-btn:hover {
  background-color: #03324d;
}

.all-news-card-container {
  gap: 3rem;
}

.allnews-card-box {
  box-shadow: 1px 1px 16px 6px #e8e8e8;
}

.allnews-card-image-box {
  position: relative;
  overflow: hidden;
}

.allnews-card-image-box img {
  transition: all 400ms ease-out 0s;
  position: relative;
  z-index: -1;
}

.allnews-card-box:hover .allnews-card-image-box img {
  transform: scale(1.2);
}

.all-news-date {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  background: #ff4800;
  color: #fff;
  padding: 1.2rem 1.8rem;
  font-size: 1.4rem;
  transition: all 0.4s ease-in-out;
  text-align: center;
  border-radius: 8px;
}

.all-news-date::after {
  position: absolute;
  right: 25px;
  bottom: -15px;
  content: "";
  border-left: 15px solid #ff4800;
  border-top: 0;
  border-bottom: 15px solid transparent;
}

.all-news-date-entry {
  font-size: 1.8rem;
}

.all-news-date-entry span {
  font-weight: 800;
}
.allnews-card-content {
  padding: 2rem 3rem;
}
.allnews-card-title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 32px;
  color: #03324d;
  transition: all 0.3s ease;
}

.allnews-card-title:hover {
  color: #ff4800;
}

.card-bottom-row {
  border-bottom: 0.5px solid #a6a4a4;
  margin-top: 1rem;
  opacity: 0.5;
}

.card-bottom-content {
  display: flex;
  padding: 2rem 3rem;
  justify-content: space-between;
}

.allnews-card-bottom-profile,
.allnews-card-bottom-right {
  display: flex;
  align-items: center;
}
.allnews-card-bottom-profile img {
  height: 5rem;
  border: 2px solid #ff4800;
  border-radius: 50px;
}

.allnews-card-bottom-profile img:hover {
  transform: translate(1.2);
}

.card-bottom-designation {
  margin-left: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  color: #ff4800;
}

.allnews-card-bottom-right i {
  font-size: 1.6rem;
  color: #ff4800;
}

.allnews-comment {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  color: rgb(62, 62, 62);
  margin-left: 1.2rem;
}

/* ALLNEWS  Section END here  */
/* ***************************************** */

/* ***************************************** */
/* FOOTER US Section START here  */

.footer-section {
  background: url("../images/abs-bg3.png") #1e2228;
  padding: 5rem 0;
  background-position: center center;
}

.footer-box {
  display: flex;
  position: relative;
}
.footer-contact {
  color: #9d9eaa;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  padding: 0.5rem 0;
}

.footer-part-1 {
  width: 30%;
}

.footer-part-2 {
  width: 15%;
  text-align: center;
}

.footer-part-3 {
  width: 15%;
  text-align: center;
  margin-left: 5rem;
}

.footer-part-4 {
  width: 40%;
  padding-left: 10rem;
}
.icon-left {
  margin-left: 1rem;
}
.footer-contact:hover {
  color: #ff4800;
}
.footer-part-1 .footer-contact p i {
  margin-right: 5rem;
}

.footer-social-box {
  display: flex;
  align-items: center;
}

.icon-box-f {
  background-color: #303743;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  margin-right: 1rem;
  margin-top: 2rem;
  color: #fff;
  font-size: 1.6rem;
}

.footer-title-sm {
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: left;
}

.footer-title-sm::after {
  content: "";
  position: absolute;
  background-color: #ff4800;
  border-radius: 50px;
  width: 6rem;
  height: 4px;
  bottom: -1rem;
  left: 0;
}

.list-footer-left {
  margin-top: 1.5rem;
  color: #9d9eaa;
  list-style: none;
  font-size: 1.6rem;
}

.list-footer-left li {
  display: block;
  font-weight: 400;
  line-height: 26px;
  padding: 0.5rem 0;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.list-footer-left li:hover {
  color: #ff4800;
}

.list-footer-left li i {
  margin-right: 2rem;
}

.useful-links {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28.8px;
  color: #9d9eaa;
  margin-top: 1.5rem;
}

.footer-input {
  width: 100%;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  margin: 2rem 0;
  border: 1px solid #dfdce6;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer-input:focus {
  border: 1px solid #e41f7a;
}

.submit-footer-btn {
  display: inline-block;
  background-color: #ff4800;
  text-decoration: none;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 26px;
  transition: all 0.3s ease;
}
.submit-footer-btn i {
  font-size: 1.6rem;
}

.submit-footer-btn:hover {
  background-color: #03324d;
}

.small-ship {
  position: absolute;
  right: 10rem;
  animation: leftRifgtInfinite 5s infinite;
  opacity: 0.6;
  max-width: 100%;
}

.footer-row {
  margin: 0 8rem;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #9d9eaa69;
  opacity: 0.5;
}

.footer-copyright {
  text-align: center;
  padding-top: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  color: #9d9eaa;
}

.footer-copyright span {
  color: #ff4800;
}

/* FOOTER US Section END here  */
/* ***************************************** */
